@import url(reset.css);
ul li {
    list-style-type: disc;
}
ol {
    list-style-type: decimal;
}
h1 {
    height: 40px;
    margin: 15px 0;
    border-bottom: 1px solid black;
}
h2, h3, h4 {
    height: 40px;
    margin: 10px 0;
}
h2 {
    border-bottom: 1px solid black;
}
p, li {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 18px;
}
li {
    margin-left: 20px;
}

.container-img {
    max-width: 1170px;
    margin: 0 auto;
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
.container-body {
    padding: 0 20px;
}
.block-text {
}
.text-red {
    color: red;
}
.text-green {
    color: green;
}
.img-small {
    max-width: 350px;
}
.text-small {
    font-size: 10px;
}
.code {
    background: #dedcdc;
}


/* Стилізація tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer; /* Курсор змінюється на вказівник */
}

/* Стилізація tooltip-тексту */
.tooltip-text {
    display: none;
    position: absolute;
    max-width: 300px;
    top: 100%; /* Розташовуємо tooltip під елементом */
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
}

/* При наведенні на .tooltip відображаємо .tooltip-text */
.tooltip:hover .tooltip-text {
    display: block;
}

.tooltip-img{
    max-width: 300px;
}