.fill:hover,
.fill:focus {
    box-shadow: inset 0 0 0 2em var(--hover);
}
.pulse:hover,
.pulse:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em transparent;
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}
.close:hover,
.close:focus {
    box-shadow: inset -4.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}
.raise:hover,
.raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}
.up:hover,
.up:focus {
    box-shadow: inset 0 -3.25em 0 0 var(--hover);
}
.slide:hover,
.slide:focus {
    box-shadow: inset 6.5em 0 0 0 var(--hover);
}
.offset {
    box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);

    &:hover,
    &:focus {
        box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
    }
}
.fill {
    --color: #a972cb;
    --hover: #ef6eae;
}
.pulse {
    --color: #ef6eae;
    --hover: #ffbdc2;
}
.close {
    --color: #ff7f82;
    --hover: #ff7f82;
}
.raise {
    --color: #ffa260;
    --hover: #ff994e;
}
.up {
    --color: #e4cb58;
    --hover: #fcdb8a;
}
.offset {
    --color: #19bc8b;
    --hover: #43cda5;
}
button {
    color: var(--color);
    transition: 0.25s;

    &:hover,
    &:focus {
        border-color: var(--hover);
        color: #fff;
    }
}
.btn__header-item {
    color: var(--color);
    transition: 0.25s;
}
.btn__header-item:hover,
.btn__header-item:focus {
    border-color: var(--hover);
    color: #fff;
}
.btn__header-item {
    display: inline-block;
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
}
code {
    color: #e4cb58;
    font: inherit;
}
