/* Animate the size, inside */
.fill:hover,
.fill:focus {
    box-shadow: inset 0 0 0 2em var(--hover);
}
/* Animate the size, outside */
.pulse:hover,
.pulse:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em transparent;
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}
.close:hover,
.close:focus {
    box-shadow: inset -4.5em 0 0 0 var(--hover), inset 4.5em 0 0 0 var(--hover);
}
.raise:hover,
.raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}
/* Set button colors */
.fill {
    --color: #a972cb;
    --hover: #ef6eae;
}
.pulse {
    --color: #ef6eae;
    --hover: #ffbdc2;
}
.close {
    --color: #ff7f82;
    --hover: #ff7f82;
}
.raise {
    --color: #ffa260;
    --hover: #ff994e;
}
.btn__header-item {
    color: var(--color);
    transition: 0.25s;
}
.btn__header-item:hover,
.btn__header-item:focus {
    border-color: var(--hover);
    color: #fff;
}
/* Basic button styles */
.btn__header-item {
    display: inline-block;
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
}

