@import url(fonts.css);
@import url(reset.css);
@import url(btn.css);

body {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #7d7d7d;
    width: auto;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.header__wrapper,
.footer__wrapper {
    width: 100%;
    min-height: 80px;
    background: url(../img/repeat.jpg) 0 0 / cover;
    text-align: center;
    padding: 5px;
    margin-bottom: 50px;
}
.footer__wrapper {
    margin-top: 50px;
}
.header__text {
    font-size: 30px;
    color: #fff;
    margin-bottom: 10px;
}
.header__text span {
    display: block;
    font-weight: 700;
    line-height: 1.4;
    background: linear-gradient(45deg, #ff2600, #2fff00, #00f2ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: letter-spacing 0.5s ease;
}
.header__text span:hover {
    letter-spacing: 6px;
}
/* ============================== */
.header__btn {
    display: block;
}
.btn__header {
    cursor: pointer;
}
/* ============================== */
.title {
    color: #37393f;
    font-family: "Poppins";
    font-size: 30px;
    font-weight: 600;
    line-height: 127%; /* 38.1px */
    margin-bottom: 4px;
}
.text {
    line-height: 146.187%; /* 26.314px */
}
.first {
    max-width: 692px;
    margin: 0 auto;
    margin-bottom: 45px;
}
.top__text {
    margin-bottom: 42px;
}
.top__text p:not(:last-child) {
    margin-bottom: 15px;
}
.block__top-title {
    color: #6b77e5;
}
.title-color {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
    line-height: 127%; /* 25.4px */
    margin-bottom: 12px;
}
.block__top-text {
    margin-bottom: 40px;
}
.block__top-text p:not(:last-child) {
    margin-bottom: 15px;
}
.main__first {
    margin-bottom: 50px;
}
.main__image {
    display: inline-block;
    margin-right: 15px;
    max-width: 331px;
    vertical-align: top;
}
.main__image img {
    width: 100%;
}
.main__block {
    display: inline-block;
}
.block__main {
    display: inline-block;
    max-width: 332px;
}
.main__title {
    font-size: 25px;
    margin-bottom: 15px;
}
.main__sub-title {
    color: #40ddb6;
    margin-bottom: 21px;
}
.main__list li:not(:last-child) {
    margin-bottom: 30px;
}
.list__item::before,
.list__title::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../img/icons/vector.png) 0 0 no-repeat;
    margin-right: 8px;
    vertical-align: -7px;
    opacity: 0.2;
    transition: opacity 0.5s ease;
}
.list__item:hover::before,
.list__title:hover::before {
    opacity: 1;
}
.footer__text p:not(:last-child) {
    margin-bottom: 15px;
}
/* ============================== */
.second {
    max-width: 680px;
    margin: 0 auto;
}
.second__sub-title {
    color: #37393f;
    font-weight: 500;
    margin-bottom: 16px;
}
.second__sub-title::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #40ddb6;
    margin-right: 6px;
}
.second__title {
    color: #37393f;
    font-family: "Poppins";
    font-size: 40px;
    font-weight: 700;
    line-height: 121%; /* 48.4px */
    margin-bottom: 10px;
}
.second__text {
    margin-bottom: 48px;
}
.second__text p:not(:last-child) {
    margin-bottom: 16px;
}
.second__list {
    margin-bottom: 48px;
    padding: 28px 41px 28px 39px;
  }
   .list__second-body {
     border: 1px solid #E3E3E3;

   }
  .second__list li:not(:last-child) {
    margin-bottom: 31px;
  }
  .list__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}
.list__text {
    color: #7d7d7d;
    line-height: 146.187%; /* 26.314px */
}
.second__btn {
  width: 200px;
  height: 65px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
  background: #6B77E5;
  transition:  0.5s ease;
}
.second__btn:hover {
  background: #40ddb6;
}
/* ============================== */

/* ============================== */
.first,
.second,
.third,
.fourth {
    display: none;
}
.first:target,
.second:target,
.third:target,
.fourth:target {
    display: block;
}
/* ============================== */