/* .back-call__personal-data input:focus + .back-call__label,
.back-call__personal-data input:valid + .back-call__label,
.block-shipping__personal-data input:focus + .block-shipping__label--card,
.block-shipping__personal-data input:valid + .block-shipping__label--card {
    transform: translateY(-50%) scale(0.8);
    font-size: 16px;
    top: 20%;
} */
/* .call-back__wraper-message textarea:focus + .back-call__label,
.call-back__wraper-message textarea:valid + .back-call__label {
    transform: translateY(-50%) scale(0.8);
    font-size: 16px;
    top: 15px;
} */
.item input:focus + .item__placeholder--visible,
.item input:valid + .item__placeholder--visible {
    transform: translateY(-50%) scale(0.8);
    font-size: 16px;
    top: 20%;
}
.item--textarea textarea:focus + .item__placeholder--visible,
.item--textarea textarea:valid + .item__placeholder--visible {
    transform: translateY(-50%) scale(0.8);
    font-size: 16px;
    top: 15px;
}