@import url(fonts.css);
@import url(reset.css);

html,
body {
    height: 100%;
    font-family: "Causten";
    font-size: 18px;
    color: #807d7e;
    width: auto;
}
.wraper {
    overflow: clip;
    min-height: 100%;
    position: relative;
}
.main {
}
[class*="__container"] {
    max-width: 1240px;
    margin: 0 auto;
    box-sizing: content-box;
}
.footer {
    height: 200px;
}
/* ========================================== */
.header {
    margin-bottom: 30px;
}
.header__container {
    display: flex;
    justify-content: space-between;
    padding: 34px 100px 31px;
    align-items: center;
}
.header__logo {
    max-width: 91px;
    max-height: 45px;
}
.header__search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 184px;
    max-height: 46px;
    gap: 12px;
    padding: 12px 48px;
    border-radius: 8px;
    background: #f6f6f6;
    transition: max-width 0.5s;
}
.search__input {
    background-color: transparent;
    min-height: 22px;
    width: 100%;
    transition: width 0.5s;
    padding-left: 10px;
}
.search__input::placeholder {
    color: #807d7e;
    padding-left: 5px;
}
.search__input:focus-visible {
    outline: 1px solid #807d7e;
    border-radius: 4px;
    width: 150%;
}
.header__search:focus-within {
    max-width: 250px;
}
.header__languages {
    position: relative;
    display: inline-block;
    cursor: pointer;
    min-width: 206px;
    color: #333;
}
.header__languages::before {
    content: "▼";
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 12px;
    transform: translateY(-50%);
    transition: transform 0.3s;
}
.language__options {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 110%;
    left: -10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    transition: visibility 0.3s, opacity 0.3s;
    z-index: 2;
}
.language__options li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.language__options li:hover {
    background-color: #f0f0f0;
}
.header__languages:hover .language__options {
    visibility: visible;
    opacity: 1;
}
.header__languages:hover::before {
    transform: translateY(-50%) rotate(180deg);
}
.button {
    display: inline-flex;
    padding: 12px 48px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    transition: background-color 0.3s ease, border 0.3s, color 0.3s;
}
.button:not(:last-child) {
    margin-right: 29px;
}
.button--purple,
.button--border {
    border: 1px solid #3c4242;
    color: #8a33fd;
}
.button.active {
    background: #8a33fd;
    color: #fff;
    border: 1px solid #fff;
}
/* =========================== */
.main__container {
}
.sticky-categories,
.sticky-wishlist,
.sticky-orders {
    position: sticky;
    left: 0;
    top: 0px;
    z-index: 1;

    color: #3c4242;
    font-family: "Core Sans C";
    font-size: 34px;
    font-weight: 600;
    line-height: 33.5px; /* 98.529% */
    letter-spacing: 0.68px;
    background-color: #fff;
    width: 100%;
    margin-bottom: 70px;
    min-height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.sticky-categories:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 6px;
    height: 80%;
    background-color: #8a33fd;
    border-radius: 10px;
    transform: translateY(-50%);
}
.categories {
    display: flex;
    flex-wrap: wrap;
    direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}
.categories__cart {
}
.cart {
    cursor: pointer;
    max-width: 270px;
}
.cart:not(:last-child) {
    margin-bottom: 50px;
}
.cart:not(:last-child) {
    padding-right: 15px;
}
.cart__container-image {
    position: relative;
    overflow: hidden;
}
.cart__image {
    border: 10px;
    margin-bottom: 16px;
    max-width: 270px; 

    height: auto;
     transition: transform 0.3s, box-shadow 0.3s;
}
.cart__container-image:hover {
    border-radius: 10px;
}
.cart__container-image:hover .cart__image {
    transform: scale(1.2); 
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.5);
}
.cart__image img {
    width: 100%;
}
.cart__info {
    position: relative;
    width: 100%;
}
.cart__info::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translate(-50%, -50%);
    background: url(../img/icons/arrow.svg) right center / 28px 20px no-repeat;
    width: 28px;
    height: 20px;
}
.cart__name {
    color: #2a2f2f;
    font-size: 18px;
    font-weight: 700;
    line-height: 27.93px; /*156.25% */
    letter-spacing: -0.715px;
}
.cart__name:not(:last-child) {
    margin-bottom: 4px;
}
.cart__text {
    color: #7f7f7f;
    font-size: 13.407px;
    font-style: normal;
    font-weight: 500;
    line-height: 27.93px; /* 208.333% */
    letter-spacing: -0.536px;
}
.orders {
}
