.container-img {
    max-width: 1170px;
    margin: 0 auto;
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
.container-body {
    padding: 0 20px;
}
.block-text {
}
.text-red {
    color: red;
}
.text-green {
    color: green;
}
.img-small {
    max-width: 350px;
}
.text-small {
    font-size: 10px;
}
.code {
    background: #dedcdc;
}


/* Стилізація tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer; /* Курсор змінюється на вказівник */
}

/* Стилізація tooltip-тексту */
.tooltip-text {
    display: none;
    position: absolute;
    max-width: 300px;
    top: 100%; /* Розташовуємо tooltip під елементом */
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
}

/* При наведенні на .tooltip відображаємо .tooltip-text */
.tooltip:hover .tooltip-text {
    display: block;
}

.tooltip-img{
    max-width: 300px;
}