@import url(fonts.css);
@import url(reset.css);

html,
body {
    height: 100%;
    font-family: "Causten";
    font-size: 18px;
    color: #807d7e;
    width: auto;
}
.wraper {
    overflow: clip;
    min-height: 100%;
    position: relative;
}
.main {
}
[class*="__container"] {
    max-width: 1240px;
    margin: 0 auto;
    box-sizing: content-box;
}
.footer {
    height: 200px;
}
/* ========================================== */
