@import url(fonts.css);
@import url(reset.css);
@import url(placeholder.css);

html,
body {
    height: 100%;
    font-family: "Causten";
    font-size: 18px;
    color: #807d7e;
    width: auto;
}
.wraper {
    overflow: clip;
    min-height: 100%;
    position: relative;
}
.main {
}
[class*="__container"] {
    max-width: 1240px;
    margin: 0 auto;
    box-sizing: content-box;
}
.footer {
    height: 200px;
}
/* ========================================== */
.call-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    /* max-width: 1220px; */
}
.call-back:not(:last-child) {
    margin-bottom: 100px;
}
.call-back__label {
    position: relative;
    color: #37393f;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 500;
    padding-left: 18px;
}
.call-back__label:not(:last-child) {
    margin-bottom: 16px;
}
.call-back__label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 12px;
    height: 12px;
    background: #40ddb6;
    transform: translateY(-50%);
}
.call-back__title {
    color: #37393f;
    text-align: center;
    font-family: "Poppins";
    font-size: 40px;
    font-weight: 700;
    line-height: 121%; /* 48.4px */
}
.call-back__title:not(:last-child) {
    margin-bottom: 40px;
}
.call-back__form {
    padding: 20px;
    box-sizing: border-box;
}
.back-call {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.back-call__row {
    display: flex;
    /* flex-wrap: nowrap; */
    /* row-gap: 28px; */
    width: 1200px;
    gap: 35px;
}
.back-call__personal-data {
    position: relative;
    flex: 1 1 auto;
    width: 100px;
}
.back-call__info,
.back-call__personal-data {
    height: 65px;
}
.back-call__info,
.back-call__personal-data,
.back-call__row-message {
    width: 100%;
    display: flex;
    gap: 35px;
    margin-bottom: 28px;
}
.back-call__input,
.back-call__message {
    width: 100%;
    border: 1px solid #ddd;
    background: #f8f8f8;
    font-size: 22px;
    padding: 0 45px;
}
.back-call__row-message {
    position: relative;
    margin-bottom: 50px;
}
.back-call__message {
    position: relative;
    min-height: 222px;
    resize: vertical;
    padding-top: 20px;
    line-height: 140%;
}
.back-call__btn {
    padding: 21px 61px;
    position: relative;
    background-color: #6b77e5;
    color: #ffffff;
    font-family: "Inter";
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}
.back-call__btn:hover {
    background-color: #525eca;
}
.back-call__btn:active::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.2);
    z-index: -1;
    transition: opacity 0.3s;
}
.back-call__btn:active:hover::before {
    opacity: 0.5;
}
.back-call__btn:active:active {
    transform: translateY(5px);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}

.back-call__label {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.3s, font-size 0.3s, top 0.3s;
}
.back-call__label--message {
    top: 22px;
}
/* =========================== */
.check-out {
    max-width: 803px;
    margin: 0 auto;
    padding-bottom: 32px;
    border-bottom: 1px solid #edeef2;
}
.check-out__wraper {
    margin: 0 15px;
}
.check-out:not(:last-child) {
    margin-bottom: 100px;
}
.title {
    color: #3c4242;
    font-size: 28px;
    font-weight: 600;
    line-height: 33.5px; /* 119.643% */
    letter-spacing: 0.56px;
    position: relative;
    padding-left: 15px;
}
.title:not(:last-child) {
    margin-bottom: 20px;
}
.check-out__title::before {
    content: "";
    background-color: #8a33fd;
    border-radius: 10px;
    position: absolute;
    width: 6px;
    height: 28px;
    top: 0;
    left: 0;
}
.label--title {
    color: #3c4242;
    font-size: 22px;
    font-weight: 600;
    line-height: 33.5px; /* 152.273% */
    letter-spacing: 0.44px;
}
.label--title:not(:last-child) {
    margin-bottom: 50px;
}
.check-out__form {
}
.form-out {
}
.form-out__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.form-out__row:not(:last-child) {
    margin-bottom: 28px;
}
.form-out__row.form-out__row--phone {
    margin-bottom: 43px;
}
.form-out__private {
    display: flex;
    flex-direction: column;
}
.private {
    width: 100%;
}
.private:not(:last-child) {
    margin-right: 32px;
}
.private__label {
    color: #3c4242;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.32px;
    margin-bottom: 10px;
}
.private__input {
    padding: 16px 20px;
    border-radius: 8px;
    background: #f6f6f6;
    position: relative;
}
.private__input--phone {
    max-width: 382px;
}
.button--purple,
.button--cancel {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    padding: 16px 20px;
    position: relative;
    transition: box-shadow 0.3s, background-color 0.3s;
}
.button--purple {
    background: #8a33fd;
}
.button--purple:not(:last-child) {
    margin-bottom: 20px;
}
.button--purple:hover {
    background: #7124d5;
    box-shadow: 0 0.5em 0.5em -0.4em #7124d5;
}
.button--cancel:hover {
    background: #d7d5d5;
    box-shadow: 0 0.5em 0.5em -0.4em #d7d5d5;
}
.button--purple:active,
.button--cancel:active {
    transform: translateY(4px);
    box-shadow: none;
}
.form-out__row.form-out__row--btn {
    display: inline-block;
}
.private__input--checkbox {
    margin-right: 10px;
}
.private--checkbox {
    display: inline-block;
}
.private__label--checkbox {
    color: #3c4242;
    font-size: 18px;
    font-weight: 400;
}
/* ========================= */
.shipping {
    max-width: 803px;
    margin: 0 auto;
}
.shipping:not(:last-child) {
    margin-bottom: 100px;
}
.form-shipping__wraper:not(:last-child) {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #edeef2;
}
.form-shipping__block-title {
    margin-bottom: 30px;
}
.form-shipping__title {
    color: #3c4242;
    font-size: 22px;
    font-weight: 600;
    line-height: 33.5px; /* 152.273% */
    letter-spacing: 0.44px;
}
.form-shipping__title:not(:last-child) {
    margin-bottom: 8px;
}
.form-shipping__text {
    color: #3c4242;
    font-size: 16px;
    font-weight: 400;
}
.form-shipping__block {
}
.form-shipping__unit {
    padding: 38px 28px;
    background-color: #f6f6f6;
    border-radius: 12px;
    margin-bottom: 50px;
}
.form-shipping__block--pay {
}
.block-shipping:not(:last-child) {
    border-bottom: 1px solid #bebcbd;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.block-shipping__radio {
    margin-right: 19px;
    vertical-align: middle;
}
.block-shipping__label {
    color: #3c4242;
    font-size: 20px;
    font-weight: 700;
    padding-right: 15px;
}
.block-shipping__label:not(:last-child) {
    margin-bottom: 8px;
}
.block-shipping__text {
    color: #807d7e;
    font-size: 16px;
    font-weight: 500;
}
.block-shipping__wraper {
    display: flex;
    justify-content: space-between;
    color: #3c4242;
    font-size: 20px;
    font-weight: 700;
}
.block-shipping__wraper:not(:last-child) {
    margin-bottom: 26px;
}
.block-shipping__price {
}
.block-shipping__info {
    display: flex;
    flex-direction: column;
}
.form-shipping__pay {
    font-size: 0;
    margin-bottom: 31px;
}
.form-shipping__pay img {
    cursor: pointer;
    border-radius: 10px;
    max-width: 80px;
}
.form-shipping__pay img:not(:last-child) {
    margin-right: 20px;
}
.block-shipping__wrapper {
    display: flex;
}
.block-shipping__wrapper:not(:last-child) {
    margin-bottom: 30px;
}

.block-shipping__wraper {
}
.block-shipping__personal-data {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.block-shipping__personal-data:not(:last-child) {
    margin-right: 30px;
}

.block-shipping__input {
    padding: 16px 20px;
    border-radius: 8px;
    border: 1px solid #3c4242;
    background-color: #f6f6f6;
    font-size: 18px;
    letter-spacing: 2px;
}
.block-shipping__input:focus {
    padding: 16px 30px;
}
.block-shipping__label--card {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    transition: transform 0.3s, font-size 0.3s, top 0.3s;

    color: #807d7e;
    font-size: 18px;
    font-weight: 400;
}
.block-shipping__btn {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background: url(../img/icons/pay/eye.svg) no-repeat;
    cursor: pointer;
}
.block-shipping__personal-data--btn {
    position: relative;
}
.form-shipping__btn {
    padding: 16px 20px;
}
/* ===================== */
.info {
    max-width: 803px;
    margin: 0 auto;
}
.form-info__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.form-info__row:not(:last-child) {
    margin-bottom: 28px;
}
.form-info__row.form-info__row--phone {
    margin-bottom: 43px;
}
.form-info__private {
    display: flex;
    flex-direction: column;
}
.form-info__label {
    color: #3c4242;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.36px;
    margin-bottom: 10px;
}
.form-info__block:not(:last-child) {
    margin-bottom: 30px;
}
.form-info__message {
    width: 100%;
    min-height: 150px;
    border-radius: 8px;
    background: #f6f6f6;
    padding: 18px 22px;
    font-size: 16px;
    resize: vertical;
    margin-top: 10px;
}
.form-info__checkbox:not(:last-child) {
    margin-bottom: 15px;
}
.form-info__btn {
    padding: 12px 40px;
}
.form-info__btn:not(:last-child) {
    margin-right: 30px;
}
.form-info__wrap-check {
    margin-bottom: 60px;
}
.button--cancel {
    background: #f6f6f6;
    color: #807d7e;

    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

/* .flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 28px 35px;
}
.flex__row {
    border: 1px solid green;
    background-color: lime;
    flex: 1 1 auto;
    width: 571px;
    height: 50px;
} */
